<div class="container">
  <div style="text-align:center" class="bgimg">
        
    <div class="hj-dialog-footer">
      <button type="button" class="btn btn-hj-secondary" id="register" routerLink="/user-register">New User : Register</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-hj-secondary" id="login" routerLink="/login">Existing User : Login</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-hj-secondary" id="forgotPswd" routerLink="/forgot-password">Forgot Password</button>
    </div>
   
  </div>
</div>

